{% extends 'basico.html' %}
{% block conteudo %}
    {% if pokemons|length == 0 %}
        <div class="col-12">
            <h1>NÃO TEM NENHUM POKEMON AINDA.</h1>
        </div>
    {% else %}Listando todos os pokemons
        <div class="card-deck">
            {% for pokemon in pokemons %}
                <a class="card col-md-4" href="{% url 'pokedex:pokemon' pokemon.nome %}">
                    <img class="card-img-top" width="100" height="200" src="{{ pokemon.imagem.url }}"
                         alt="Imagem do pokemon">
                    <div class="card-body">
                        <h5 class="card-title text-muted ">{{ pokemon.nome }}</h5>
                    </div>
                </a>
            {% endfor %}
        </div>
        <div class="col-md-4 offset-md-4 ">
            <div class="pagination">
    <span class="step-links">
        {% if pokemons.has_previous %}
            <a href="?page=1"><i class="fa fa-angle-double-left"></i></a>
            <a href="?page={{ pokemons.previous_page_number }}"><i class="fa fa-angle-left"></i></a>
        {% endif %}

        <span class="current">
             {{ pokemons.number }} | {{ pokemons.paginator.num_pages }}
        </span>

        {% if pokemons.has_next %}
            <a href="?page={{ pokemons.next_page_number }}"><i class="fa fa-angle-right"></i></a>
            <a href="?page={{ pokemons.paginator.num_pages }}"><i class="fa fa-angle-double-right"></i></a>
        {% endif %}
    </span>
            </div>
        </div>
    {% endif %}
{% endblock %}