{% extends 'basico.html' %}
{% block conteudo %}
    Listando todos os pokemons
    <div class="card-group">
        {% for pokemon in pokemons %}
            <div class="card text-muted">
                <img class="card-img-top" src="{{ pokemon.imagem.url }}" height="100" width="180" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ pokemon.nome }}</h5>
                    <ul>
                        {% for habilidade in pokemon.habilidades.all %}
                            <li>{{ habilidade.nome }}
                        {% endfor %}
                        </li>
                    </ul>

                    <p class="card-text">
                        Ataque
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{ pokemon.ataque_fisica }}"
                             style="width: {{ pokemon.ataque_fisica }}%" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="col-md-4 offset-md-4 ">
        <div class="pagination">
    <span class="step-links">
        {% if pokemons.has_previous %}
            <a href="?page=1"><i class="fa fa-angle-double-left"></i></a>
            <a href="?page={{ pokemons.previous_page_number }}"><i class="fa fa-angle-left"></i></a>
        {% endif %}

        <span class="current">
             {{ pokemons.number }} | {{ pokemons.paginator.num_pages }}
        </span>

        {% if pokemons.has_next %}
            <a href="?page={{ pokemons.next_page_number }}"><i class="fa fa-angle-right"></i></a>
            <a href="?page={{ pokemons.paginator.num_pages }}"><i class="fa fa-angle-double-right"></i></a>
        {% endif %}
    </span>
        </div>
    </div>
{% endblock %}