{% extends 'basico.html' %}
{% block conteudo %}
    <div class="col-12 row">
        <div class="col-4 col-sm-12">
            <img width="180" height="200" src="{{ pokemon.imagem.url }}">
        </div>
        <div class="col-8  col-sm-12">
            <div class="row">
                <div class="col-3">
                    <b>Pokemon:</b>
                </div>
                <div class="col-9">
                    {{ pokemon.nome }}
                </div>
            </div>
            <hr style="background-color: white;">
            <div class="row">
                <div class="col-3">
                    <b>Vida:</b>
                </div>
                <div class="col-9">
                    <div class="progress" style="height: 20px;color: #007bff;">
                        <div class="progress-bar" role="progressbar" style="width: {{ pokemon.vida }}%;"
                             aria-valuenow="25"
                             aria-valuemin="0" aria-valuemax="100"></div>&emsp;{{ pokemon.vida }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <b>Vida:</b>
                </div>
                <div class="col-9">
                    <div class="progress" style="height: 20px;color: #007bff;">
                        <div class="progress-bar" role="progressbar" style="width: {{ pokemon.vida }}%;"
                             aria-valuenow="25"
                             aria-valuemin="0" aria-valuemax="100"></div>&emsp;{{ pokemon.vida }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <b>Vida:</b>
                </div>
                <div class="col-9">
                    <div class="progress" style="height: 20px;color: #007bff;">
                        <div class="progress-bar" role="progressbar" style="width: {{ pokemon.vida }}%;"
                             aria-valuenow="25"
                             aria-valuemin="0" aria-valuemax="100"></div>&emsp;{{ pokemon.vida }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <b>Vida:</b>
                </div>
                <div class="col-9">
                    <div class="progress" style="height: 20px;color: #007bff;">
                        <div class="progress-bar" role="progressbar" style="width: {{ pokemon.vida }}%;"
                             aria-valuenow="25"
                             aria-valuemin="0" aria-valuemax="100"></div>&emsp;{{ pokemon.vida }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <b>Vida:</b>
                </div>
                <div class="col-9">
                    <div class="progress" style="height: 20px;color: #007bff;">
                        <div class="progress-bar" role="progressbar" style="width: {{ pokemon.vida }}%;"
                             aria-valuenow="25"
                             aria-valuemin="0" aria-valuemax="100"></div>&emsp;{{ pokemon.vida }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <b>Vida:</b>
                </div>
                <div class="col-9">
                    <div class="progress" style="height: 20px;color: #007bff;">
                        <div class="progress-bar" role="progressbar" style="width: {{ pokemon.vida }}%;"
                             aria-valuenow="25"
                             aria-valuemin="0" aria-valuemax="100"></div>&emsp;{{ pokemon.vida }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <b>Vida:</b>
                </div>
                <div class="col-9">
                    <div class="progress" style="height: 20px;color: #007bff;">
                        <div class="progress-bar" role="progressbar" style="width: {{ pokemon.vida }}%;"
                             aria-valuenow="25"
                             aria-valuemin="0" aria-valuemax="100"></div>&emsp;{{ pokemon.vida }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <b>Vida:</b>
                </div>
                <div class="col-9">
                    <div class="progress" style="height: 20px;color: #007bff;">
                        <div class="progress-bar" role="progressbar" style="width: {{ pokemon.vida }}%;"
                             aria-valuenow="25"
                             aria-valuemin="0" aria-valuemax="100"></div>&emsp;{{ pokemon.vida }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <b>Vida:</b>
                </div>
                <div class="col-9">
                    <div class="progress" style="height: 20px;color: #007bff;">
                        <div class="progress-bar" role="progressbar" style="width: {{ pokemon.vida }}%;"
                             aria-valuenow="25"
                             aria-valuemin="0" aria-valuemax="100"></div>&emsp;{{ pokemon.vida }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}